
<br>
<div class="alert alert-info" role="alert" style="text-align: center;">
  اذا كان المبلغ المستحق بالسالب يكون مطلوب من المندوب
</div>

<h2 style="text-align: center;">
المندوبين ب<%= @current_country.name %> 
</h2>
<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;"  >
      <tr  >
        <th>الاسم</th>
        <th>المدينه</th>
        <th>رقم الجوال</th>
        <th>عدد العلب</th>
        <th>عدد الجوالين</th>
        <th>المبلغ المستحق</th>
        <th colspan="2">
            <%= form_tag(delegates_path, :method => "get", class: 'navbar-form navbar-left') do %>
                <div class="input-group">
                  <%= search_field_tag :search, params[:search], placeholder: "البحث", class: "form-control" %>
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><span class="glyphicon glyphicon-search"></span> بحث</button>
                  </div>
                </div>
            <% end %>
        </th>
      </tr>
    </thead>

    <tbody style="text-align: right;" >
      <% @delegates.each do |delegate| %>
        <tr  >
          <td><%= delegate.name %></td>
          <td><%= delegate.city %></td>
          <td><%= delegate.phone_NO %></td>
          <td><%= delegate.amount_of_box %></td>
          <td><%= delegate.amount_of_gallon %></td>
          <td><%= delegate.for_him %></td>
          <td><%= link_to 'تعديل', edit_delegate_path(delegate) , class: "btn btn-light" %></td>
          <td><%= link_to 'حذف', delegate, method: :delete, data: { confirm: 'هل انت مناكد من عملية الحذف؟' }, class: "btn btn-light" %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot  style="text-align: center;">
        <tr>
          <td colspan="2">اجمالي المندوبين</td>
          <td colspan="2">اجمالي العلب</td>
          <td colspan="2">اجمالي الجوالين</td>
          <td>اجمالي المبالغ المستحقه</td>
          <td>صافي المبالغ المستحقه</td>
        </tr>
        <tr>
          <td colspan="2"><%= @delegates.count %></td>
          <td colspan="2"><%=@delegates.pluck(:amount_of_box).sum %></td>
          <td colspan="2"><%=@delegates.pluck(:amount_of_gallon).sum %></td>
          <td><%=@delegates.where('for_him > 0').pluck(:for_him).sum %></td>
          <td><%=@delegates.pluck(:for_him).sum %></td>
        </tr>
    </tfoot>
  </table>
</div>

<br>

<%= link_to 'إضافة مندوب', new_delegate_path , class: "btn btn-outline-success my-2 my-sm-0"%>
<%= link_to "استخراج ملف اكسل", delegates_path(format: "xlsx"),class: "btn btn-outline-success my-2 my-sm-0" %>
<%= link_to "استخراج ملف pdf", delegates_path(format: "pdf"),class: "btn btn-outline-success my-2 my-sm-0" %>


