
<h2 style="text-align: center;">
المندوبين ب<%= @current_country.name %> 
</h2>
<div class="table-responsive" >
  <table class="table" >
    <thead class="thead-light" style="text-align: right;"  >
      <tr  >
        <th colspan="2">الاسم</th>
        <th>المدينه</th>
        <th>رقم الجوال</th>
        <th>عدد العلب</th>
        <th>عدد الجوالين</th>
        <th>المبلغ المستحق</th>
      </tr>
    </thead>

    <tbody style="text-align: right;" >
      <% @current_country.delegates.order_by_name.each do |delegate| %>
        <tr  >
          <td colspan="2"><%= delegate.name %></td>
          <td><%= delegate.city %></td>
          <td><%= delegate.phone_NO %></td>
          <td><%= delegate.amount_of_box %></td>
          <td><%= delegate.amount_of_gallon %></td>
          <td><%= delegate.for_him %></td>
        </tr>
      <% end %>
      <tr>
          <td colspan="2">اجمالي المندوبين</td>
          <td colspan="2">اجمالي العلب</td>
          <td>اجمالي الجوالين</td>
          <td>اجمالي المبالغ المستحقه</td>
          <td>اجمالي المبالغ المطلوبه</td>
        </tr>
        <tr>
          <td colspan="2"><%= @current_country.delegates.count %></td>
          <td colspan="2">
            <%= @current_country.delegates.pluck(:amount_of_box).sum %>
          </td>
          <td>
            <%= @current_country.delegates.pluck(:amount_of_gallon).sum %>
          </td>
          <td>
            <%= @current_country.delegates.pluck(:for_him)
                                .inject{ |sum, n| sum += n > 0 ?  n : 0 } %>
          </td>
          <td>
            <%=@current_country.delegates.pluck(:for_him)
                                .inject(0){ |sum, n| sum += n < 0 ?  n : 0 } %>
          </td>
        </tr>
    </tbody>
  </table>
</div>
