<br>
<p id="notice"  style="text-align: center;" ><%= notice %></p>

<h2 style="text-align: center;">المسوقين</h2>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>الاسم</th>
        <th>المدينه</th>
        <th>رقم الجوال</th>
        <th>المبلغ المستحق</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody style="text-align: center;">
      <% @marketers.each do |marketer| %>
        <tr>
          <td><%= marketer.name %></td>
          <td><%= marketer.city %></td>
          <td><%= marketer.phone_NO %></td>
          <td><%= marketer.for_him %></td>
          <td><%= link_to 'تعديل', edit_marketer_path(marketer), class: "stretched-link" %></td>
          <td><%= link_to 'حذف', marketer, method: :delete, class: "stretched-link", data: { confirm: 'هل انت متاكد؟' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'إضافة مسوق', new_marketer_path, class: "btn btn-outline-success my-2 my-sm-0"%>
