
<h2 style="text-align: center;">
المسوقين ب<%= @current_country.name %> 
</h2>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>الاسم</th>
        <th>المدينه</th>
        <th>رقم الجوال</th>
        <th>المبلغ المستحق</th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @current_country.marketers.order(name: :asc).each do |marketer| %>
        <tr>
          <td><%= marketer.name %></td>
          <td><%= marketer.city %></td>
          <td><%= marketer.phone_NO %></td>
          <td><%= marketer.for_him %></td>
        </tr>
      <% end %>
       <tr>
          <td>اجمالي المسوقين</td>
          <td colspan="2">اجمالي المبالغ المستحقه</td>
          <td>اجمالي المبالغ المطلوبه</td>
        </tr>
        <tr>
          <td><%= @current_country.marketers.count %></td>
          <td colspan="2">
            <%= @current_country.marketers.pluck(:for_him)
                          .inject{ |sum, n| sum += n > 0 ?  n : 0 } %>
          </td>
          <td>
            <%= @current_country.marketers.pluck(:for_him)
                          .inject(0){ |sum, n| sum += n < 0 ?  n : 0 } %>
          </td>
        </tr>
    </tbody>
  </table>
</div>