<br>
<div class="alert alert-info" role="alert" style="text-align: center;">
  اذا كان المبلغ المستحق بالسالب يكون مطلوب من المسوق
</div>

<h2 style="text-align: center;">المسوقين</h2>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>الاسم</th>
        <th>المدينه</th>
        <th>رقم الجوال</th>
        <th>المبلغ المستحق</th>
        <th colspan="2">
          <%= form_tag(marketers_path, :method => "get", class: 'navbar-form navbar-left') do %>
                <div class="input-group">
                  <%= search_field_tag :search, params[:search], placeholder: "البحث", class: "form-control" %>
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><span class="glyphicon glyphicon-search"></span> بحث</button>
                  </div>
                </div>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @marketers.each do |marketer| %>
        <tr>
          <td><%= marketer.name %></td>
          <td><%= marketer.city %></td>
          <td><%= marketer.phone_NO %></td>
          <td><%= marketer.for_him %></td>
          <td><%= link_to 'تعديل', edit_marketer_path(marketer), class: "stretched-link" %></td>
          <td><%= link_to 'حذف', marketer, method: :delete, class: "stretched-link", data: { confirm: 'هل انت متاكد؟' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'إضافة مسوق', new_marketer_path, class: "btn btn-outline-success my-2 my-sm-0"%>
<%= link_to "استخراج ملف اكسل", marketers_path(format: "xlsx"),class: "btn btn-outline-success my-2 my-sm-0" %>
