<div  class="form-group">
  <%= form_with(model: sales_operation, local: true) do |form| %>
    <% if sales_operation.errors.any? %>
      <div class="alert alert-warning" role="alert" style="text-align: center;">
        <h3> يرجئ التاكد من التالي </h3>
        <ul style="list-style-type: none;">
          <% sales_operation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<%# 
    <div class="form-group">
      <%= form.collection_select(:manger_id, Manger.all, :id, :name, {:"data-style" => "selectpicker", multiple: true}, {class: "form-control", title: "المدير", readonly: true})  %>
    <%# </div> %>

    <div class="form-group">
      <%= form.label 'إختر اسم المندوب', style: "text-align: right; float: right" %>
      <%= form.collection_select(:delegate_id, @current_country.delegates, :id, :name, {:"data-style" => "selectpicker", multiple: true}, {class: "form-control", title: "المندوب"})  %>
    </div>

    <div class="form-group">
      <%= form.label 'حدد تاريخ البيع', style: "text-align: right; float: right" %>
      <%= form.date_field :date, class: "form-control", placeholder: "تاريخ البيع"%>
    </div>

    <div class="form-group">
      <%= form.label 'عدد الجوالين', style: "text-align: right; float: right" %>
      <%= form.number_field :gallon_amount, class: "form-control" , placeholder: 'عدد الجوالين' %>
    </div>

    <div class="form-group">
      <%= form.label 'عدد العلب', style: "text-align: right; float: right" %>
      <%= form.number_field :box_amount, class: "form-control" , placeholder: 'عدد العلب' %>
    </div>

    <div class="form-group">
      <%= form.label 'حدد سعر البيع', style: "text-align: right; float: right" %>
      <%= form.number_field :price, class: "form-control", placeholder: 'السعر' %>
    </div>

    <div class="form-group">
      <%= form.label 'حدد عمولة المندوب ', style: "text-align: right; float: right" %>
      <%= form.number_field :delegate_commission, class: "form-control", placeholder: 'عمولة المندوب' %>
    </div>

    <div class="form-group">
      <%= form.label 'حدد المبلغ المحول من المندوب إن وجد ', style: "text-align: right; float: right" %>
      <%= form.number_field :from_delegate_transfer, class: "form-control", placeholder: 'حواله من المندوب' %>
    </div>

    <div class="form-group">
      <%= form.label 'اختر اسم المسوق', style: "text-align: right; float: right" %>
      <%= form.collection_select(:marketer_id, @current_country.marketers, :id, :name, {:"data-style" => "selectpicker", multiple: true}, {class: "form-control", title: "المسوق"})  %>
    </div>

    <div class="form-group">
      <%= form.label 'حدد عمولة المسوق', style: "text-align: right; float: right" %>
      <%= form.number_field :marketer_commission, class: "form-control", placeholder: 'عمولة المسوق' %>
    </div>

    <div class="form-group">
      <%= form.label 'حدد المبلغ المحول للمسوق إن وجد', style: "text-align: right; float: right" %>
      <%= form.number_field :to_marketer_transfer, class: "form-control", placeholder: 'حواله للمسوق' %>
    </div>
    <div class="form-group">
      <%= form.label 'حدد رقم جوال العميل', style: "text-align: right; float: right" %>
      <%= form.number_field :customr_no, class: "form-control", placeholder: 'رقم العميل' %>
    </div>
    <div class="form-group">
      <%= form.label 'حدد منطقة العميل', style: "text-align: right; float: right" %>
      <%= form.text_field :customr_city, class: "form-control" , placeholder: "المدينه"  %>
    </div>

    <div class="form-group">
      <%= form.submit "موافق",class:"btn btn-outline-success my-2 my-sm-0" %>
    </div>
  <% end %>
</div>
