<style>
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
<br>
<center>
  <div >
    <%= form_tag import_sales_operations_path, multipart: true do %>
      <span class="btn btn-large btn-warning btn-file">
         اختر الملف
        <%= file_field_tag :file %>
      </span>
      <%= submit_tag "إرفع", class: "btn btn-warning" %>
    <% end %>
  <div>
</center>
<br>

<h2 style="text-align: center;">المبيعات</h2>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>المندوب</th>
        <th>نوع البضاعه</th>
        <th>الكمية</th>
        <th>السعر</th>
        <th>التاريخ</th>
        <th>عمولة المندوب</th>
        <th>المسوق</th>
        <th>عمولة المسوق</th>
        <th>عمولة المدير</th>
        <th>رقم العميل</th>
        <th>منطقة العميل</th>
        <th colspan="2">
          <%= form_tag(sales_operations_path, :method => "get", class: 'navbar-form navbar-left') do %>
            <div class="input-group">
              <%= search_field_tag :search, params[:search], placeholder: "البحث", class: "form-control" %>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><span class="glyphicon glyphicon-search"></span> بحث</button>
              </div>
            </div>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @sales_operations.each do |sales_operation| %>
        <tr>
          <td><%= sales_operation.delegate.name %></td>
           <td><%= sales_operation.commodity_type %></td>
          <td><%= sales_operation.commodity_amount %></td>
          <td><%= sales_operation.price %></td>
          <td><%= sales_operation.date.to_date %></td>
          <td><%= sales_operation.delegate_commission %></td>
          <td><%= sales_operation.marketer.name %></td>
          <td><%= sales_operation.marketer_commission %></td>
          <td><%= sales_operation.manager_commission %></td>
          <td><%= sales_operation.customr_no %></td> 
          <td><%= sales_operation.customr_city %></td> 
          <td><%= link_to 'التعديل', edit_sales_operation_path(sales_operation), class: "btn btn-light"%></td>
          <td colspan="2" style="text-align: center;" ><%= link_to 'حذف', sales_operation, method: :delete, class: "btn btn-light", data: { confirm: 'هل انت متاكد؟' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'إضافة عملية بيع', new_sales_operation_path, class: "btn btn-outline-success my-2 my-sm-0"%>
<%= link_to 'عرض التقرير ', reports_sales_report_path, class: "btn btn-outline-success my-2 my-sm-0"%>
<%= link_to "استخراج ملف pdf", sales_operations_path(format: "pdf"),class: "btn btn-outline-success my-2 my-sm-0" %>

<br>
<br>

