<div  class="form-group">
  <%= form_with(model: salesperson, local: true) do |form|  %>
    <% if salesperson.errors.any? %>
      <div  class="alert alert-warning" role="alert" style="text-align: center;" >
        <h2> يرجئ التاكد من التالي </h2>
        <ul>
        <% salesperson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.text_field :name, class: "form-control" , placeholder: "الاسم"  %>
    </div>

    <div class="form-group">
      <%= form.text_field :city, class: "form-control" , placeholder: "المدينه" %>
    </div>

    <div class="form-group">
      <%= form.text_field :phone_NO, class: "form-control" , placeholder:"رقم الجوال" %>
    </div>

    <div class="form-group">
      <%= form.text_field :amount_of_box, class: "form-control", placeholder: "عدد الصناديق" %>
    </div>

    <div class="form-group">
      <%= form.text_field :amount_of_gallon, class: "form-control", placeholder:"عدد الجوالين" %>
    </div>

    <div class="form-group">
      <%= form.text_field :for_him, class: "form-control", placeholder:"المبلغ المستحق" %>
    </div>

    <div class="form-group">
      <%= form.text_field :to_him, class: "form-control", placeholder: "المبلغ المطلوب"%>
    </div>

    <div class="form-group">
      <%= form.submit "موافقه",class:"btn btn-light" %>
    </div>
  <% end %>
</div>
