<p id="notice" style="text-align: center;" ><%= notice %></p>

<dl class="row" style="text-align: right;">
  <dt class="col-sm-3">الاسم </dt>
  <dd class="col-sm-9"><%= @salesperson.name %></dd>
  <dt class="col-sm-3">المدينه </dt>
  <dd class="col-sm-9"><%=@salesperson.city %></dd>
  <dt class="col-sm-3">رقم الجوال </dt>
  <dd class="col-sm-9"><%= @salesperson.phone_NO %></dd>
  <dt class="col-sm-3">عدد العلب </dt>
  <dd class="col-sm-9"><%=@salesperson.amount_of_box %></dd>
  <dt class="col-sm-3">عدد الجوالين </dt>
  <dd class="col-sm-9"><%=@salesperson.amount_of_gallon %></dd>
  <dt class="col-sm-3">المبلغ المستحق  </dt>
  <dd class="col-sm-9"><%=@salesperson.for_him %></dd>
  <dt class="col-sm-3">المبلغ المطلوب  </dt>
  <dd class="col-sm-9"><%=@salesperson.to_him %></dd>

</dl>

<%= link_to 'تعديل', edit_salesperson_path(@salesperson) , class: "btn btn-primary stretched-link"%> |
<%= link_to 'عودة', salespeople_path , class: "btn btn-primary stretched-link" %>
