<br>
<div class="alert alert-info" role="alert" style="text-align: center;">
  يتم تحديد نصيب كل مساعد حتى يتم اضفته كمبلغ مستحق عند كل عملية بيع 
</div>

<h2 style="text-align: center;"> 
    المساعدين  ب<%= @current_country.name %>
</h2>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>الاسم</th>
        <th>المدينه</th>
        <th>رقم الجوال</th>
        <th>نصيبه</th>
        <th>المبلغ المستحق</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @assistants.each do |assistant| %>
        <tr>
          <td><%= assistant.name %></td>
          <td><%= assistant.city %></td>
          <td><%= assistant.phone_NO %></td>
          <td><%= assistant.his_amount %></td>
          <td><%= assistant.for_him %></td>
          <td><%= link_to 'تعديل', edit_assistant_path(assistant), class: "btn btn-light" %></td>
          <td><%= link_to 'حذف', assistant, method: :delete, class: "btn btn-light", data: { confirm: 'هل انت متاكد؟' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'إضافة', new_assistant_path, class: "btn btn btn-secondary my-2 my-sm-0"%>
<%= link_to "استخراج ملف pdf", assistants_path(format: "pdf"),class: "btn btn btn-secondary my-2 my-sm-0" %>
