<br>
<br>

<h2 style="text-align: center;">
البضائع المصروفه ب<%= @current_country.name %> 
</h2>
<br>
<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>اسم المندوب</th>
        <th>نوع البضاعه</th>
        <th>الكمية</th>
        <th>تاريخ الصرف</th>
        <th>السبب</th>
      </tr>
    </thead>

  <tbody style="text-align: right;" >
    <% @current_country.product_discounts.each do |product_discount| %>
      <tr>
        <td><%= product_discount.delegate.name %></td>
        <td><%= product_discount.product_type %></td>
        <td><%= product_discount.amount %></td>
        <td><%= product_discount.discount_date %></td>
        <td><%= product_discount.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>
