<br>
<div class="alert alert-info" role="alert" style="text-align: center;">
   اجمالي نصيب المدير  : صافي  المبالغ المستحقه للمدير من عمليات البيع تتاثر بمصروفات المدير فقط
</div>
<div class="alert alert-info" role="alert" style="text-align: center;">
   رصيد الاداره  : صافي  المبالغ المستحقه الاداره (المدير و المساعدين) من عمليات البيع  
</div>
<div class="alert alert-info" role="alert" style="text-align: center;">
   الرصيد الفعلي هي المبالغ التي تم استلمها من المندوبين ناقص مصروفات المدير والتحويلات المرسله 
</div>
<br>
<br>

<h2 style="text-align: center;">
الاداره ب<%= @current_country.name %> 
</h2>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>الاسم</th>
        <th>المدينه</th>
        <th>اجمالي نصيب المدير</th>
        <th>رصيد الاداره </th>
        <th>الرصيد الفعلي </th>
      </tr>
    </thead>

    <tbody style="text-align: center;">
      <% @mangers.each do |manger| %>
        <tr>
          <td><%= manger.name %></td>
          <td><%= manger.city %></td>
          <td><%= manger.final_manager_amount %></td>
          <td><%= manger.for_him %></td>
          <td><%= manger.to_him %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

