<br>
<div class="alert alert-info" role="alert" style="text-align: center;">
  الرصيد الافتراضي هي المبالغ الصافيه المفترض الحصول عليها من كل عملية بيع ناقص مصروفات المدير 
</div>
<div class="alert alert-info" role="alert" style="text-align: center;">
   الرصيد الفعلي هي المبالغ التي تم استلمها من المندوبين ناقص مصروفات المدير والتحويلات المرسله 
</div>

<h2 style="text-align: center;">المدراء</h2>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>الاسم</th>
        <th>المدينه</th>
        <th>رقم الجوال</th>
        <th>الرصيد الافتراضي</th>
        <th>الرصيد الفعلي </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @mangers.each do |manger| %>
        <tr>
          <td><%= manger.name %></td>
          <td><%= manger.city %></td>
          <td><%= manger.phone_NO %></td>
          <td><%= manger.for_him %></td>
          <td><%= manger.to_him %></td>
          <td><%= link_to 'تعديل', edit_manger_path(manger), class: "btn btn-light" %></td>
          <td><%= link_to 'حذف', manger, method: :delete, class: "btn btn-light", data: { confirm: 'هل انت متاكد؟' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'إضافة مدير', new_manger_path, class: "btn btn-outline-success my-2 my-sm-0"%>
