<br>
<p id="notice" style="text-align: center;" ><%= notice %></p>

<dl class="row" style="text-align: right;">
  <dt class="col-sm-3">الاسم </dt>
  <dd class="col-sm-9"><%= @manger.name %></dd>
  <dt class="col-sm-3">المدينه </dt>
  <dd class="col-sm-9"><%= @manger.city %></dd>
  <dt class="col-sm-3">رقم الجوال </dt>
  <dd class="col-sm-9"><%= @manger.phone_NO %></dd>
  <dt class="col-sm-3">الرصيد الحالي </dt>
  <dd class="col-sm-9"><%= @manger.for_him %></dd>
</dl>

<%= link_to 'تعديل', edit_manger_path(@manger) , class: "btn btn btn-secondary my-2 my-sm-0"%> |
<%= link_to 'عودة', mangers_path , class: "btn btn btn-secondary my-2 my-sm-0" %>
