
<br>
<br>
<h2 style="text-align: center;"> 
    البنوك  ب<%= @current_country.name %>
</h2>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>الاسم</th>
        <th>الرصيد</th>
        <th>الوصف</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @banks.each do |bank| %>
        <tr>
          <td><%= bank.name %></td>
          <td><%= bank.balance %></td>
          <td><%= bank.desc %></td>
          <td><%= link_to 'تعديل', edit_bank_path(bank), class: "btn btn-light" %></td>
          <td><%= link_to 'حذف', bank, method: :delete, class: "btn btn-light", data: { confirm: 'هل انت متاكد؟' } %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot  style="text-align: center;">
      <tr>
        <td colspan="3">اجمالي ارصدت البنوك</td>
        <td colspan="2"><%= @banks.map(&:balance).sum %></td>
      </tr>
    </tfoot>
  </table>
</div>

<br>

<%= link_to 'إضافة', new_bank_path, class: "btn btn-outline-success my-2 my-sm-0"%>
<%= link_to "استخراج ملف pdf", banks_path(format: "pdf"),class: "btn btn-outline-success my-2 my-sm-0" %>