
<div  class="form-group">
  <%= form_with(model: bank_transfer, local: true) do |form| %>
      <% if bank_transfer.errors.any? %>
        <div class="alert alert-warning" role="alert" style="text-align: center;">
          <h3> يرجئ التاكد من التالي </h3>
          <ul style="list-style-type: none;">
            <% bank_transfer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="form-group ">
      <%= form.label "حدد تاريخ الحواله", style: "text-align: right; float: right" %>
      <%= form.date_field :date_of_transfer, class: "form-control", placeholder: "تاريخ الحواله"%>
    </div>

    <div class="form-group">
      <%= form.label "حدد نوع الحواله", style: "text-align: right; float: right"%>
      <%= form.select(:transfer_type, options_for_select(["ارسال","استلام"]), {:"data-style" => "form-control", multiple: true}, {class: "form-control", title: "اختر نوع الحواله"})  %>
    </div>

    <div class="form-group">
      <%= form.label "حدد نوع الموظف", style: "text-align: right; float: right"%>
      <%= form.select(:section_type, options_for_select(["مندوب","مسوق","مساعد"]), {:"data-style" => "form-control", multiple: true}, {class: "form-control", title: "نوع الموضف", id:"type", onchange: "myfunction()"})  %>
    </div>

    <div class="form-group", id ="delegate", style="display: block">
      <%= form.label "حدد المندوب", style: "text-align: right; float: right"%>
      <%= form.collection_select(:delegate_id, @current_country.delegates, :id, :name, {:"data-style" => "selectpicker", multiple: true}, {class: "form-control", title: "المندوب"})  %>
    </div>

    <div class="form-group", id="marketer", style="display: none">
      <%= form.label "حدد المسوق", style: "text-align: right; float: right"%>
      <%= form.collection_select(:marketer_id, @current_country.marketers, :id, :name, {:"data-style" => "selectpicker", multiple: true}, {class: "form-control", title: "المسوق"})  %>
    </div>

    <div class="form-group", id="assistant", style="display: none">
      <%= form.label "حدد المساعد", style: "text-align: right; float: right"%>
      <%= form.collection_select(:assistant_id, @current_country.assistants, :id, :name, {:"data-style" => "selectpicker", multiple: true}, {class: "form-control", title: "المساعد"})  %>
    </div>

    <div class="form-group">
      <%= form.label "حدد المبلغ ",style: "text-align: right; float: right"%>
      <%= form.number_field :price, class: "form-control", placeholder: 'المبلغ المحول' %>
    </div>

    <div class="form-group">
      <%= form.submit "موافق",class:"btn btn-outline-success my-2 my-sm-0" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">

  function myfunction() {
    var type = document.getElementById("type")
    var delegate = document.getElementById("delegate")
    var marketer = document.getElementById("marketer")
    var assistant = document.getElementById("assistant")
    switch(type.value) {
      case "مندوب":
        delegate.style.display="block"
        marketer.style.display="none"
        assistant.style.display="none"
        break;
      case "مسوق":
        delegate.style.display="none"
        marketer.style.display="block"
        assistant.style.display="none"
        break;
      case "مساعد":
        delegate.style.display="none"
        marketer.style.display="none"
        assistant.style.display="block"
        break;
       }

  }

</script>