<br>

<h2 style="text-align: center;">
عمليات التسليم ب<%= @current_country.name %> 
 </h2>
<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>نوع البضاعه </th>
        <th>الكمية</th>
        <th>المندوب </th>
        <th>تاريخ التسليم</th>
        <th colspan="2">
          <%= form_tag(deliveries_path, :method => "get", class: 'navbar-form navbar-left') do %>
            <div class="input-group">
              <%= search_field_tag :search, params[:search], placeholder: "البحث", class: "form-control" %>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><span class="glyphicon glyphicon-search"></span> بحث</button> 
              </div>
            </div>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.commodity_type %></td>
          <td><%= delivery.commodity_amount %></td>
          <td><%= delivery.delegate.name %></td>
          <td><%= delivery.delivery_time.to_date %></td>
          <td><%= link_to 'تعديل', edit_delivery_path(delivery),class: "btn btn-light" %></td>
          <td><%= link_to 'حذف', delivery, method: :delete, data: { confirm: 'هل انت متاكد من الحذف؟' },class: "btn btn-light"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'إضافة عملية تسليم', new_delivery_path ,class: "btn btn-outline-success my-2 my-sm-0" %>
<%= link_to "استخراج ملف اكسل", "./deliveries.xlsx?search=#{params[:search]}" ,class: "btn btn-outline-success my-2 my-sm-0" %>
<%= link_to "استخراج ملف pdf", deliveries_path(format: "pdf"),class: "btn btn-outline-success my-2 my-sm-0" %>
