<br>

<h2 style="text-align: center;">
   التحويلات ب<%= @current_country.name %> 
</h2>
<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: center;">
      <tr>
        <th>تاريخ الحواله</th>
        <th>اسم المرسل</th>
        <th>المبلغ</th>
        <th>اسم المستلم</th>
    </thead>

    <tbody style="text-align: center;">
      <% @current_country.external_transfers.each do |external_transfer| %>
        <tr>
          <td><%= external_transfer.date_of_transfer.to_date %></td>
          <td><%= external_transfer.sender.name %></td>
          <td><%= external_transfer.price %></td>
          <td><%= external_transfer.receiver.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
