<div  class="form-group">
  <%= form_with(model: manger_discount, local: true) do |form| %>
      <% if manger_discount.errors.any? %>
        <div class="alert alert-warning" role="alert" style="text-align: center;">
          <h3> يرجئ التاكد من التالي </h3>
          <ul style="list-style-type: none;">
            <% manger_discount.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="form-group">
      <%= form.label 'السبب', style: "text-align: right; float: right" %>
      <%= form.text_field :Desc, class: "form-control", placeholder: 'السبب' %>
    </div>

    <div class="form-group">
      <%= form.label 'المبلغ المصروف', style: "text-align: right; float: right" %>
      <%= form.number_field :value, step: :any, class: "form-control", placeholder: 'المبلغ' %>
    </div>
    <div class="form-group ">
      <%= form.label 'تاريخ صرف المبلغ', style: "text-align: right; float: right" %>
      <%= form.date_field :date_of_discount, class: "form-control", placeholder: "تاريخ الصرف"%>
    </div>

    <div class="form-group">
      <%= form.label "اسم البنك", style: "text-align: right; float: right"%>
      <%= form.collection_select(:bank_id, @current_country.banks, :id, :name, {:"data-style" => "selectpicker", multiple: true}, {class: "form-control", title: "البنك"})  %>
    </div>

    <div class="actions">
      <%= form.submit "موافق",class:"btn btn btn-secondary my-2 my-sm-0" %>
    </div>
  <% end %>
</div>
