<br>
<p id="notice"  style="text-align: center;" ><%= notice %></p>

<h2 style="text-align: center;">
مصروفات المدير ب<%= @current_country.name %> 
</h2>
<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>سبب صرف المبلغ</th>
        <th>المبلغ</th>
        <th>تاريخ الصرف</th>
        <th>اسم البنك</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @manger_discounts.each do |manger_discount| %>
        <tr>
          <td><%= manger_discount.Desc %></td>
          <td><%= manger_discount.value %></td>
          <td><%= manger_discount.date_of_discount %></td>
          <td><%= manger_discount.bank&.name %></td>
          <td><%= link_to 'تعديل', edit_manger_discount_path(manger_discount), class: "btn btn-light" %></td>
          <td><%= link_to 'حذف', manger_discount, method: :delete, class:"btn btn-light", data: { confirm:'هل انت متاكد؟' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'إضافة مصروف', new_manger_discount_path , class: "btn btn btn-secondary my-2 my-sm-0" %>
<%= link_to "استخراج ملف pdf", manger_discounts_path(format: "pdf"),class: "btn btn btn-secondary my-2 my-sm-0" %>
