<br>
<div class="alert alert-info" role="alert" style="text-align: center;">
  سوف يتم عرض مبيعات تاريخ اليوم اذا لم يتم تحديد التاريخ
</div>

<div>
      <%= form_tag(reports_sales_report_path, :method => "get", class: 'navbar-form navbar-left') do %>
        <div class="input-group">
          <%= date_field_tag :from, params[:from], placeholder: "من تاريخ", class: "form-control" %>
          <%= date_field_tag :to, params[:to], placeholder: "الى تاريخ", class: "form-control" %>
          <%= collection_select :delegate_id, :id, @current_country.delegates, :id, :name,{:"data-style" => "selectpicker", multiple: true, include_blank: true}, {class: "form-control", title: "المندوب"} %>
          <%= collection_select :marketer_id, :id, @current_country.marketers, :id, :name,{:"data-style" => "selectpicker", multiple: true, include_blank: true}, {class: "form-control", title: "المسوق"} %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><span class="glyphicon glyphicon-search"></span> بحث</button>
          </div>
        </div>
      <% end %>
</div>
<br>
<br>
<h4 style="text-align: center;"><%= @sales_operations.blank? ? "لا توجد عمليات بيع " : " ب#{@current_country.name }  تقرير عمليات البيع" %></h4>
<p style="text-align: center;">
  <%= params[:delegate_id].try(:[],:id).present? ? " المندوب #{Delegate.find(params[:delegate_id][:id]).name.to_s}  " : "" %>
  <%= params[:delegate_id].try(:[],:id).present? ? " اجمالي المبلغ المستحق  : #{@sales_operations.map(&:delegate_commission).sum.to_s}" : "" %>
</p>
<p style="text-align: center;">
  <%= params[:marketer_id].try(:[],:id).present? ? " المسوق #{Marketer.find(params[:marketer_id][:id]).name.to_s}  " : "" %>
  <%= params[:marketer_id].try(:[],:id).present? ? " اجمالي المبلغ المستحق  : #{@sales_operations.map(&:marketer_commission).sum.to_s}" : "" %>
</p>
<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: center;">
      <tr>
        <th>التاريخ</th>
        <th>السعر</th>
        <th>منطقة العميل</th>
        <th colspan="4">رقم العميل</th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @sales_operations.each do |sales_operation| %>
        <tr>
          <td><%= sales_operation.date.to_date %></td>
          <td><%= sales_operation.price %></td>
          <td><%= sales_operation.customr_city %></td>
          <td colspan='4' style="color: <%= SalesOperation.where(country_id: @current_country.id).where.not(id: sales_operation.id).find_by_customr_no(sales_operation.customr_no).present? ? 'red' : 'black' %>">
            <%= sales_operation.customr_no %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot  style="text-align: right;">
        <tr>
          <td>المجموع</td>
          <td>الا جمالي السابق</td>
          <td>اجمالي الخصومات</td>
          <td>الاجمالي</td>
          <td>عدد الجوالين</td>
          <td>عدد العلب</td>
          <td>عدد الطلبات</td>
        </tr>
        <tr>
          <td>
            <%= @sales_operations.pluck(:manager_commission).sum  %>
          </td>
          <td>
            <%= @sales_operations.first&.manger&.for_him.to_i - @sales_operations.pluck(:manager_commission).sum  %>
          </td>
          <td>
            <%= BankTransfer.where(country_id: @current_country.id).
                             on_date(Date.today).
                             receipt_type.
                             pluck(:price).sum  %>
          </td>
          <td>
            <%= @sales_operations.first&.manger&.for_him.to_i %>
          </td>
          <td><%= @sales_operations.pluck(:gallon_amount).sum  %></td>
          <td><%= @sales_operations.pluck(:box_amount).sum %></td>
          <td><%= @sales_operations.count %></td>
        </tr>
    </tfoot>
  </table>
</div>
<%= link_to ' استخراج اكسل',"/reports/sales_report.xlsx?from=#{params[:from]}&to=#{params[:to]}&delegate_id%5Bid%5D=#{params[:delegate_id].try(:[],:id)}&marketer_id%5Bid%5D=#{params[:marketer_id].try(:[],:id)}",class: "btn btn-outline-success my-2 my-sm-0" %>
<%= link_to 'استخراج pdf',"/reports/sales_report.pdf?from=#{params[:from]}&to=#{params[:to]}&delegate_id%5Bid%5D=#{params[:delegate_id].try(:[],:id)}&marketer_id%5Bid%5D=#{params[:marketer_id].try(:[],:id)}",class: "btn btn-outline-success my-2 my-sm-0" %>