<br>
<div class="alert alert-info" role="alert" style="text-align: center;">
  سوف يتم عرض مبيعات تاريخ اليوم اذا لم يتم تحديد التاريخ
</div>
<div>
    
          <%= form_tag(reports_sales_report_path, :method => "get", class: 'navbar-form navbar-left') do %>
            <div class="input-group">
              <%= date_field_tag :search, params[:search], placeholder: "البحث", class: "form-control" %>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><span class="glyphicon glyphicon-search"></span> بحث</button> 
              </div>
            </div>
          <% end %>
</div>

<br>
<br>

<h4 style="text-align: center;"><%= @sales_operations.blank? ? "لا توجد عمليات بيع للتاريخ المختار" : "تقرير عمليات البيع لتاريخ #{@sales_operations.first.date.to_s}" %></h4>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: center;">
      <tr>
        <th>التاريخ</th>
        <th>السعر</th>
        <th>منطقة العميل</th>
        <th colspan="2">رقم العميل</th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @sales_operations.each do |sales_operation| %>
        <tr>
          <td><%= sales_operation.date.to_date %></td>
          <td><%= sales_operation.price %></td>
          <td><%= sales_operation.customr_city %></td>
          <td><%= sales_operation.customr_no %></td> 
        </tr>
      <% end %>
    </tbody>
    <tfoot  style="text-align: right;">
        <tr>
          <td>المبلغ المستحق</td>
          <td>عدد الجوالين</td>
          <td>عدد العلب</td>
          <td>عدد الطلبات</td>
        </tr>
        <tr>
          <td><%= @sales_operations.map(&:manager_commission).sum  %></td>
          <td><%= @sales_operations.gallon_and_on_date(@sales_operations.first&.date).pluck(:commodity_amount).sum  %></td>
          <td><%= @sales_operations.box_and_on_date(@sales_operations.first&.date).pluck(:commodity_amount).sum %></td>
          <td><%= @sales_operations.count %></td>
        </tr>
    </tfoot>
  </table>
</div>
<%
=begin%>
 <%= link_to "استخراج", "/reports/sales_report.xlsx?search=#{params[:search]}"  %> 
<%
=end%>

<%= link_to 'استخراج',"/reports/sales_report.xlsx?search=#{params[:search]}",class: "btn btn-outline-success my-2 my-sm-0" %>