<!DOCTYPE html>
<html>
  <head>
    <title>SalesManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <a class="navbar-brand" href="/"> مؤسسة بلا حدود</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" > 
          <ul class="navbar-nav" style ="text-align: right;">
            <li class="<%= params[:controller] == 'mangers'? "nav-item active" : "nav-item" %>">
              <a class="nav-link" href="/mangers#index">المدير</a>
            </li>
            <li class="<%= params[:controller] == 'delegates'? "nav-item active" : "nav-item" %>">
              <a class="nav-link" href="/delegates#index"> المندوبين</a>
            </li>
            <li class="<%= params[:controller] == 'marketers'? "nav-item active" : "nav-item" %>">
              <a class="nav-link" href="/marketers#index"> المسوقين</a>
            </li>
            <li class="<%= params[:controller] == 'assistants'? "nav-item active" : "nav-item" %>">
              <a class="nav-link" href="/assistants#index"> المساعدين</a>
            </li>
            <li class="<%= params[:controller] == 'deliveries'? "nav-item active" : "nav-item" %>">
              <a class="nav-link" href="/deliveries#index"> تسليم البضائع</a>
            </li>
            <li class="<%= params[:controller] == 'sales_operations'? "nav-item active" : "nav-item" %>">
              <a class="nav-link" href="/sales_operations#index">المبيعات</a>
            </li>
            <li class="<%= params[:controller] == 'bank_transfers'? "nav-item active" : "nav-item"%>">
              <a class="nav-link" href="/bank_transfers#index">الحوالات</a>
            </li>
            <li class="<%= params[:controller] == 'manger_discounts'? "nav-item active" : "nav-item"%>">
              <a class="nav-link" href="/manger_discounts#index">صرفيات المدير</a>
            </li>
            <li class="<%= params[:controller] == 'product_discounts'? "nav-item active" : "nav-item"%>">
              <a class="nav-link" href="/product_discounts#index">البضائع المصروفه</a>
            </li>
            <li class="<%= params[:controller] == 'users'? "nav-item active" : "nav-item"%>">
              <a class="nav-link" href="/users#index">المستخدمين</a>
            </li>
             <% if @current_user.present? %>
              <li class="nav-item ">
                <div >
                    <%= link_to 'تسجيل الخروج', session_logout_path , class: "navbar-nav nav-link" %>
                </div>
              </li>
            <% end %>
          </ul>
      </div>
    </nav>
    <% if flash[:notice].present? %>
      <div class="alert alert-warning" role="alert" style="text-align: center;">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="container">  
      <%= yield %>
      <% if controller.action_name == 'index' && ['home', 'session'].exclude?(controller.controller_name)%>
        <%= paginate instance_variable_get("@#{controller.controller_name}") %>
      <% end %>
    </div>
  </body>
</html>
